*{
    box-sizing: border-box;
}
.appear{
    
    /* display: flex; */
    /* justify-items: flex-end; */
    list-style-type: none;
}
li{
    padding: 9px;
    width: 50px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
}
li:hover{
    cursor:pointer;
    color: red;
    background-color: aqua;
}
li:focus{
    background-color:wheat;
}
